/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #5fb11b,
  primary-red: #fc5219,
  primary-blue: #2699fb,
  broken-white: #f4f4f4,
  text: #3a3a3a,
  line: #707070,
);
